/* Mobile first means designing for smaller screens first then for other screens - best way since the users are more on mobiles*/
/* Responsive - making a page responsive means the page working on all the screen sizes */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  box-sizing: border-box; /* defines how the width and height are calculated, should they include padding and border or not */
}

html,body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body, h3, p, button, ul, li {
  font-family: 'Bai Jamjuree';
}

p, li, a {
  color: hsl(201, 11%, 66%) !important;
}

ul {
  padding: 0 37px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: hsl(171, 66%, 44%) !important;
}

.clipboard-landing-page {
  padding: 0;
  text-align: center;
}

.company-logo {
  width: 80px;
  height: 80px;
  margin: 40px;
}

.hero-header-module {
  background: url('Images/bg-header-mobile.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  margin-bottom: 20px;
}

.offset-content-module .offset-image-left img {
  width: 300px;
}

.image-module img {
  width: 300px;
}

.ios-download-button {
  font-size: 18px;
  font-family: 'Bai Jamjuree';
  color: white;
  padding: 10px;
  width: 300px;
  border-radius: 30px;
  background: hsl(171, 66%, 44%);
  border: 1px solid hsl(171, 66%, 44%);
}

.mac-download-button {
  font-size: 18px;
  font-family: 'Bai Jamjuree';
  color: white;
  padding: 10px;
  width: 300px;
  border-radius: 30px;
  background: hsl(233, 100%, 69%);
  border: 1px solid hsl(233, 100%, 69%);
}

.offset-content-module, .image-module, .three-column-module, .logos-module, .fourth-section-title-content, .footer-module .social-links {
  margin-bottom: 100px;
}

.second-section-title-content {  
  margin-bottom: 70px;
}

.logos-module .logo {
  width: 100px;
}

.three-column-module .row {
  display: block;
}

.three-column-module .row .col {
  margin-bottom: 50px;
}

.footer-module {
  background: hsl(201deg 11% 66% / 11%);
}

.footer-module .social-links svg:hover path {
  cursor: pointer;
  fill: hsl(171, 66%, 44%) !important;
}

.ios-download-button:hover {
  background: hsl(171deg 66% 44% / 70%);
  border: hsl(171deg 66% 44% / 70%);
}

.mac-download-button:hover {
  background: hsl(233deg 100% 69% / 71%);
  border: hsl(233deg 100% 69% / 71%);
}

.footer-module .social-links svg {
  width: 40px;
}

@media only screen and (min-width: 1024px) {
  .hero-header-module {
    background-image: url('Images/bg-header-desktop.png');
  }

  .ios-download-button {
    margin-right: 1rem;
  }

  .offset-content-module {
    display: flex;
    gap: 70px;
  }

  .offset-content-module .offset-image-left img {
    width: auto;
    margin-left: -31px;
  }

  .offset-content-right {
    text-align: left;
    padding: 10px;
  }

  .image-module img {
    width: auto;
  }

  .three-column-module .row {
    display: flex;
  }

  .logos-module { 
    display: inline-flex;
  }

  .logos-module .row .col {
    padding: 0 50px;
  }

  .footer-module {
    display: flex;
  }

  .footer-module .icon {
    padding: 2%;
  }

  .footer-module .icon img {
    width: 50px;
    height: 50px;
  }

  .footer-module .faq-contact {
    text-align: left;
    padding-top: 66px;
    padding-right: 30px;
  }

  .footer-module .privacy-press {
    text-align: left;
    padding-top: 66px;
    padding-right: 30px;
  }

  .footer-module .install-guide {
    text-align: left;
    padding-top: 66px;
    padding-right: 30px;
  }

  .footer-module .social-links {
    text-align: left;
    padding-top: 66px;
    padding-right: 30px;
    padding-left: 35%;
  }

  .footer-module .social-links svg {
    width: 50px;
  }

}

